/* SCSS */
/* CSS starts here */
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

h1 {
  text-align: center;
  font-family: serif;
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 50px;
  margin: 0; }

h2 {
  text-align: center;
  font-family: "Homemade Apple", cursive;
  margin: 0px;
  font-weight: normal;
  font-style: italic;
  font-size: 18px; }

h3 {
  margin: 0 0 1.2em 0; }

h4 {
  font-size: 10px;
  margin: 15px 20px 0px 20px;
  border-bottom: 1px solid #aaa;
  padding: 5px 0;
  line-height: 10px; }

p {
  font-size: 14px; }

/* Mise en page */
div#page {
  border: 1px solid #ddd;
  margin: 10px;
  text-align: left;
  box-shadow: 0px 0px 6px #aaa;
  background: #fff;
  color: #000; }

header {
  background: #111;
  color: #fff;
  height: 125px;
  padding: 20px; }

main {
  padding: 0 20px; }

section {
  padding: 30px 0; }

article {
  box-shadow: 0px 0px 10px #333;
  padding: 20px;
  margin: 20px 0; }

aside {
  position: fixed;
  top: 185px;
  right: -260px;
  width: 260px;
  padding: 10px 30px;
  transition: top 0.5s;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  transition: all 1s; }

aside.top {
  top: 5px; }

aside.mobileopen {
  right: -1px; }

aside > span {
  border-style: solid;
  border-color: #ccc;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  position: absolute;
  display: block;
  left: -50px;
  top: -1px;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 45px;
  text-align: center;
  cursor: pointer; }
  aside > span img {
    vertical-align: middle;
    transition: all 0.5s; }
  aside > span img.open {
    transform: rotate(180deg); }

footer {
  background: #111;
  color: #fff;
  min-height: 50px;
  padding: 0 20px; }
  footer p {
    font-family: "Homemade Apple", cursive;
    font-size: 12px;
    line-height: 50px;
    text-align: right;
    margin-bottom: 0; }

/* Code */
pre {
  border: 1px solid #ddd;
  margin: 0px 20px 10px 20px;
  padding: 5px;
  background: #eee;
  counter-reset: line;
  line-height: 10px;
  overflow: hidden; }
  pre span {
    display: block; }
    pre span::before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 .5em;
      margin-right: .5em; }
    pre span em {
      background: rgba(255, 0, 255, 0.9); }
    pre span del {
      text-decoration: none;
      color: #888; }

/* Menu */
aside ul {
  margin: 0;
  padding: 0; }
  aside ul li {
    list-style: none;
    display: block; }
    aside ul li a {
      text-decoration: none;
      padding: 10px;
      color: #888;
      display: block;
      line-height: 30px; }
      aside ul li a:hover {
        background: #eee; }

/* Responsive */
@media (min-width: 900px) {
  section {
    width: 66.66667%; }
  aside {
    width: 33.33333%;
    right: -1px; } }
